{%extends 'layouts\nav.html'%}
{%load static%}
{%block main%}
<br><br><br><br>
<h2 style="padding:15px">Add new product</h2>
 <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
    {%for item in form%}
   <div class="row" style="padding:20px">
         <div  class="col-2"> {{item.label}}</div>
          <div  class="col-6"> {{item}}</div>
      </div>
    {%endfor%}

    <div style="padding-left:500px">
          <input type="submit" value="Confirm">
    </div>
</form>
<br><br><br>

{%endblock%}

