{%extends 'layouts\nav.html'%}
{%load static%}
{%block main%}
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">About us</h1>
                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti iusto in blanditiis voluptatem, illo expedita magnam possimus! Veniam et, veritatis vero minima excepturi non, nulla tempora culpa dolorem debitis repudiandae.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptatibus ducimus, quibusdam fuga culpa quasi hic ad repellendus fugiat corporis quaerat voluptates maxime explicabo consectetur id voluptatum ex unde quis.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sapiente maiores eius vero atque, veniam iste? Necessitatibus, minus! Aliquid doloremque esse perspiciatis, fugit eos rem voluptatum ad optio quam blanditiis.</p>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Send</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>

{%endblock%}

